.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #292D32;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: calc(10px + 2vmin);
  color: rgb(206, 207, 213);
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  padding: 10px 20px;
  margin-left: 16px;
  margin-right: 16px;

  background: #292D32;
  box-shadow: 10px 10px 20px #000000, inset -18px -18px 20px #30343A;
  border-radius: 115.5px;
  border: none;
}

.links {
  display: flex;
  margin-top: 16px;
}

a {
  text-decoration: none;
  letter-spacing: .09em;
  font-size: medium;
}

/* unvisited link */
a:link {
  color: rgb(206, 207, 213);
}

/* visited link */
a:visited {
  color: rgb(206, 207, 213);
}

/* mouse over link */
a:hover {
  color: #7CA69E;
}